In [17]:
import requests
from bs4 import BeautifulSoup as BS
import pandas as pd
import numpy as np

In [18]:
dataset = pd.read_csv('laliga15-20(7).csv')

In [19]:
dataset

,Year,Week,Club1,Club2,Att1,Mid1,Def1,Att2,Mid2,Def2,Diff1,Diff2,Goals1,Goals2
0,2015,2,Villarreal CF,Espanyol Barcelona,78,76,74,76,73,72,0.000000,1.000000,3,1
1,2015,2,Real Sociedad,Sporting Gijón,78,76,76,63,67,70,0.000000,0.000000,0,0
2,2015,2,FC Barcelona,Málaga CF,88,85,81,74,73,74,1.000000,0.000000,1,0
3,2015,2,Celta Vigo,Rayo Vallecano,75,74,73,75,73,75,1.000000,0.000000,3,0
4,2015,2,Real Madrid,Real Betis,86,83,81,73,71,68,0.000000,0.000000,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1895,2020,7,Real Valladolid,CD Alavés,76,76,73,76,75,76,-0.666667,-0.833333,0,2
1896,2020,7,Cádiz CF,Villarreal CF,70,72,71,80,79,78,0.000000,0.000000,0,0
1897,2020,7,Getafe CF,Granada CF,80,77,78,76,75,75,0.400000,-0.200000,0,1
1898,2020,7,Real Sociedad,SD Huesca,81,80,77,73,72,72,1.333333,-0.333333,4,1
1899,2020,7,Levante UD,Celta Vigo,77,77,76,80,77,76,-1.000000,-1.000000,1,1

In [20]:
dataset.Club1.unique()

array(['Villarreal CF', 'Real Sociedad', 'FC Barcelona', 'Celta Vigo',
       'Real Madrid', 'SD Eibar', 'Sevilla FC', 'Valencia CF',
       'UD Las Palmas', 'Getafe CF', 'Levante UD', 'Espanyol Barcelona',
       'Sporting Gijón', 'Atlético Madrid', 'Real Betis', 'Granada CF',
       'Athletic Bilbao', 'Málaga CF', 'Rayo Vallecano',
       'Deportivo La Coruña', 'CD Alavés', 'Girona FC', 'CD Leganés',
       'Real Valladolid', 'SD Huesca', 'CA Osasuna', 'RCD Mallorca',
       'Elche CF', 'Cádiz CF'], dtype=object)

# input week 8

In [21]:
columns = ['Year', 'Week', 'Club1', 'Club2', 'Att1', 'Mid1',  'Def1', 'Att2','Mid2', 'Def2', 
               'Diff1', 'Diff2']

In [22]:
X = pd.DataFrame(columns=columns)

In [23]:
ranks = {2015: {'Celta Vigo': {'att': 75, 'mid': 74, 'def': 73},
  'Atlético Madrid': {'att': 81, 'mid': 78, 'def': 79},
  'FC Barcelona': {'att': 88, 'mid': 85, 'def': 81},
  'Espanyol Barcelona': {'att': 76, 'mid': 73, 'def': 72},
  'SD Eibar': {'att': 72, 'mid': 72, 'def': 72},
  'Real Betis': {'att': 73, 'mid': 71, 'def': 68},
  'Villarreal CF': {'att': 78, 'mid': 76, 'def': 74},
  'Deportivo La Coruña': {'att': 71, 'mid': 72, 'def': 72},
  'Málaga CF': {'att': 74, 'mid': 73, 'def': 74},
  'Rayo Vallecano': {'att': 75, 'mid': 73, 'def': 75},
  'Real Madrid': {'att': 86, 'mid': 83, 'def': 81},
  'Real Sociedad': {'att': 78, 'mid': 76, 'def': 76},
  'Sevilla FC': {'att': 79, 'mid': 76, 'def': 77},
  'Valencia CF': {'att': 81, 'mid': 79, 'def': 77},
  'Sporting Gijón': {'att': 63, 'mid': 67, 'def': 70},
  'Levante UD': {'att': 73, 'mid': 71, 'def': 73},
  'Athletic Bilbao': {'att': 77, 'mid': 77, 'def': 77},
  'Getafe CF': {'att': 72, 'mid': 73, 'def': 69},
  'UD Las Palmas': {'att': 73, 'mid': 70, 'def': 67},
  'Granada CF': {'att': 72, 'mid': 74, 'def': 72}},
 2016: {'FC Barcelona': {'att': 91, 'mid': 85, 'def': 82},
  'Real Madrid': {'att': 86, 'mid': 86, 'def': 83},
  'Sevilla FC': {'att': 79, 'mid': 80, 'def': 80},
  'UD Las Palmas': {'att': 73, 'mid': 71, 'def': 70},
  'Deportivo La Coruña': {'att': 79, 'mid': 74, 'def': 74},
  'Sporting Gijón': {'att': 73, 'mid': 74, 'def': 73},
  'CD Leganés': {'att': 67, 'mid': 69, 'def': 68},
  'Atlético Madrid': {'att': 81, 'mid': 80, 'def': 81},
  'CA Osasuna': {'att': 67, 'mid': 68, 'def': 68},
  'CD Alavés': {'att': 69, 'mid': 67, 'def': 69},
  'Granada CF': {'att': 73, 'mid': 73, 'def': 74},
  'Málaga CF': {'att': 75, 'mid': 76, 'def': 75},
  'Villarreal CF': {'att': 79, 'mid': 79, 'def': 79},
  'Athletic Bilbao': {'att': 78, 'mid': 78, 'def': 78},
  'SD Eibar': {'att': 74, 'mid': 73, 'def': 72},
  'Celta Vigo': {'att': 77, 'mid': 76, 'def': 76},
  'Espanyol Barcelona': {'att': 76, 'mid': 75, 'def': 74},
  'Valencia CF': {'att': 79, 'mid': 80, 'def': 79},
  'Real Sociedad': {'att': 77, 'mid': 77, 'def': 76},
  'Real Betis': {'att': 77, 'mid': 75, 'def': 75}},
 2017: {'Real Madrid': {'att': 88, 'mid': 86, 'def': 86},
  'FC Barcelona': {'att': 92, 'mid': 85, 'def': 83},
  'CD Leganés': {'att': 74, 'mid': 76, 'def': 75},
  'Levante UD': {'att': 76, 'mid': 74, 'def': 73},
  'SD Eibar': {'att': 78, 'mid': 77, 'def': 76},
  'Valencia CF': {'att': 78, 'mid': 79, 'def': 79},
  'Real Sociedad': {'att': 79, 'mid': 78, 'def': 76},
  'Atlético Madrid': {'att': 84, 'mid': 82, 'def': 84},
  'Girona FC': {'att': 70, 'mid': 71, 'def': 72},
  'Sevilla FC': {'att': 80, 'mid': 81, 'def': 80},
  'Athletic Bilbao': {'att': 80, 'mid': 81, 'def': 80},
  'Getafe CF': {'att': 72, 'mid': 71, 'def': 72},
  'Espanyol Barcelona': {'att': 78, 'mid': 77, 'def': 76},
  'CD Alavés': {'att': 73, 'mid': 76, 'def': 75},
  'Málaga CF': {'att': 77, 'mid': 77, 'def': 76},
  'UD Las Palmas': {'att': 77, 'mid': 79, 'def': 76},
  'Villarreal CF': {'att': 79, 'mid': 81, 'def': 79},
  'Real Betis': {'att': 79, 'mid': 76, 'def': 74},
  'Deportivo La Coruña': {'att': 77, 'mid': 77, 'def': 76},
  'Celta Vigo': {'att': 79, 'mid': 79, 'def': 78}},
 2018: {'FC Barcelona': {'att': 93, 'mid': 84, 'def': 84},
  'Real Madrid': {'att': 86, 'mid': 86, 'def': 86},
  'SD Huesca': {'att': 71, 'mid': 70, 'def': 69},
  'Sevilla FC': {'att': 80, 'mid': 80, 'def': 79},
  'Athletic Bilbao': {'att': 81, 'mid': 79, 'def': 78},
  'Real Sociedad': {'att': 80, 'mid': 78, 'def': 76},
  'Levante UD': {'att': 75, 'mid': 76, 'def': 75},
  'Atlético Madrid': {'att': 85, 'mid': 82, 'def': 83},
  'Girona FC': {'att': 79, 'mid': 76, 'def': 75},
  'Valencia CF': {'att': 80, 'mid': 80, 'def': 80},
  'Espanyol Barcelona': {'att': 79, 'mid': 78, 'def': 76},
  'Real Valladolid': {'att': 75, 'mid': 71, 'def': 71},
  'Celta Vigo': {'att': 78, 'mid': 78, 'def': 78},
  'CD Leganés': {'att': 74, 'mid': 75, 'def': 74},
  'SD Eibar': {'att': 77, 'mid': 78, 'def': 75},
  'Rayo Vallecano': {'att': 73, 'mid': 73, 'def': 72},
  'Getafe CF': {'att': 75, 'mid': 74, 'def': 75},
  'CD Alavés': {'att': 77, 'mid': 75, 'def': 74},
  'Real Betis': {'att': 79, 'mid': 79, 'def': 76},
  'Villarreal CF': {'att': 79, 'mid': 79, 'def': 80}},
 2019: {'Real Madrid': {'att': 83, 'mid': 88, 'def': 86},
  'Sevilla FC': {'att': 81, 'mid': 80, 'def': 79},
  'RCD Mallorca': {'att': 69, 'mid': 70, 'def': 67},
  'Athletic Bilbao': {'att': 80, 'mid': 80, 'def': 78},
  'Atlético Madrid': {'att': 85, 'mid': 83, 'def': 84},
  'CA Osasuna': {'att': 72, 'mid': 72, 'def': 70},
  'CD Alavés': {'att': 76, 'mid': 77, 'def': 76},
  'Real Valladolid': {'att': 76, 'mid': 73, 'def': 72},
  'Villarreal CF': {'att': 78, 'mid': 79, 'def': 78},
  'Real Sociedad': {'att': 79, 'mid': 77, 'def': 76},
  'Valencia CF': {'att': 79, 'mid': 81, 'def': 79},
  'Granada CF': {'att': 72, 'mid': 72, 'def': 70},
  'Real Betis': {'att': 79, 'mid': 80, 'def': 80},
  'CD Leganés': {'att': 74, 'mid': 75, 'def': 74},
  'FC Barcelona': {'att': 87, 'mid': 86, 'def': 85},
  'Getafe CF': {'att': 79, 'mid': 75, 'def': 78},
  'Levante UD': {'att': 77, 'mid': 76, 'def': 75},
  'Celta Vigo': {'att': 80, 'mid': 77, 'def': 75},
  'Espanyol Barcelona': {'att': 77, 'mid': 77, 'def': 75},
  'SD Eibar': {'att': 79, 'mid': 77, 'def': 76}},
 2020: {'Real Sociedad': {'att': 81, 'mid': 81, 'def': 77},
  'Villarreal CF': {'att': 82, 'mid': 79, 'def': 79},
  'Atlético Madrid': {'att': 81, 'mid': 82, 'def': 82},
  'Real Madrid': {'att': 86, 'mid': 86, 'def': 85},
  'Granada CF': {'att': 76, 'mid': 76, 'def': 76},
  'Cádiz CF': {'att': 73, 'mid': 72, 'def': 71},
  'Real Betis': {'att': 78, 'mid': 80, 'def': 78},
  'FC Barcelona': {'att': 87, 'mid': 84, 'def': 84},
  'Valencia CF': {'att': 80, 'mid': 77, 'def': 78},
  'Getafe CF': {'att': 78, 'mid': 77, 'def': 78},
  'Elche CF': {'att': 71, 'mid': 70, 'def': 68},
  'Sevilla FC': {'att': 80, 'mid': 79, 'def': 81},
  'CA Osasuna': {'att': 76, 'mid': 76, 'def': 74},
  'Athletic Bilbao': {'att': 79, 'mid': 78, 'def': 80},
  'CD Alavés': {'att': 76, 'mid': 74, 'def': 75},
  'SD Eibar': {'att': 76, 'mid': 77, 'def': 74},
  'Celta Vigo': {'att': 78, 'mid': 75, 'def': 76},
  'Levante UD': {'att': 78, 'mid': 77, 'def': 75},
  'Real Valladolid': {'att': 76, 'mid': 76, 'def': 74},
  'SD Huesca': {'att': 69, 'mid': 71, 'def': 72}}}

In [24]:
for year in range(2020, 2021):
    for week in range(17, 18):
        r = requests.get('https://www.worldfootball.net/schedule/esp-primera-division-'
                         +str(year)+'-'+str(year+1)+'-spieltag/'+str(week)+'/')
        r1 = requests.get('https://www.worldfootball.net/schedule/esp-primera-division-'
                         +str(year)+'-'+str(year+1)+'-spieltag/'+str(week-1)+'/')

        html = BS(r.content, 'html.parser')
        html1 = BS(r1.content, 'html.parser')

        club1 = []
        club2 = []

        i = 0
        for el in html.select('.box')[0].select('tr'):
            if i == 10:
                break

            i += 1

            tds = el.select('td')
                
            try:

                club1.append(tds[2].select('a')[0].text)
                club2.append(tds[4].select('a')[0].text)
            except:
                continue

        dct = {}

        i = 0
        for el in html1.select('.box')[1].select('tr'):
            i += 1
            if i == 1:
                continue

            ###tabclubs.append([])

            tds = el.select('td')

            this_club = tds[2].select('a')[0].text # TEAM NAME

            if not this_club in ranks[year]: 
                ranks[year][this_club] = {}
                while True:
                    try:
                        ranks[year][this_club]['att'] = int(input(this_club+' '+str(year)+'att:'))
                        break
                    except:
                        print('error, try again')
                        continue

                while True:
                    try:
                        ranks[year][this_club]['mid'] = int(input(this_club+' '+str(year)+'mid:'))
                        break
                    except:
                        print('error, try again')
                        continue
                while True:
                    try:
                        ranks[year][this_club]['def'] = int(input(this_club+' '+str(year)+'def:'))
                        break
                    except:
                        print('error, try again')
                        continue
            
            goals = tds[7].text
            goals = goals.split(':')
            this_matches = int(tds[3].text)

            if this_matches == 0:
                dct[this_club] = 9999
            else:
                dct[this_club] = (int(goals[0]) - int(goals[1])) / this_matches

            if i == 21:
                break


        ldf = []
        ii = 0

        for i in range(len(club1)):
            if dct[club1[i]] == 9999 or dct[club2[i]] == 9999:
                continue

            ldf.append([])


            ldf[ii].append(year)
            ldf[ii].append(week)
            ldf[ii].append(club1[i]) ### CLUB1
            ldf[ii].append(club2[i]) ### CLUB2
              
            ldf[ii].append(ranks[year][club1[i]]['att'])
            ldf[ii].append(ranks[year][club1[i]]['mid'])
            ldf[ii].append(ranks[year][club1[i]]['def'])
            ldf[ii].append(ranks[year][club2[i]]['att'])
            ldf[ii].append(ranks[year][club2[i]]['mid'])
            ldf[ii].append(ranks[year][club2[i]]['def'])

            ldf[ii].append(dct[club1[i]])
            ldf[ii].append(dct[club2[i]])

            ii += 1

        print(club1)
            
        week6 = pd.DataFrame(ldf, columns=columns)
        
        X = X.append(week6, ignore_index=True)

['Villarreal CF', 'Real Betis', 'Getafe CF', 'Real Madrid', 'Athletic Bilbao', 'CD Alavés', 'SD Eibar', 'Real Sociedad', 'SD Huesca', 'Valencia CF']

In [25]:
X

,Year,Week,Club1,Club2,Att1,Mid1,Def1,Att2,Mid2,Def2,Diff1,Diff2
0,2020,17,Villarreal CF,Levante UD,82,79,79,78,77,75,0.250000,-0.066667
1,2020,17,Real Betis,Sevilla FC,78,80,78,80,79,81,-0.687500,0.500000
2,2020,17,Getafe CF,Real Valladolid,78,77,78,76,76,74,-0.266667,-0.562500
3,2020,17,Real Madrid,Celta Vigo,86,86,85,78,75,76,0.733333,0.000000
4,2020,17,Athletic Bilbao,Elche CF,79,78,80,71,70,68,0.066667,-0.285714
5,2020,17,CD Alavés,Atlético Madrid,76,74,75,81,82,82,-0.250000,1.571429
6,2020,17,SD Eibar,Granada CF,76,77,74,76,76,76,-0.250000,-0.266667
7,2020,17,Real Sociedad,CA Osasuna,81,81,77,76,76,74,0.937500,-0.666667
8,2020,17,SD Huesca,FC Barcelona,69,71,72,87,84,84,-0.687500,0.928571
9,2020,17,Valencia CF,Cádiz CF,80,77,78,73,72,71,-0.125000,-0.562500

In [26]:
X_test = X

# Testing

In [27]:
X_test_copy = X_test
X_copy = dataset

In [28]:
y1 = dataset['Goals1'].astype('float64')
y2 = dataset['Goals2'].astype('float64')

In [29]:
dataset = dataset.drop(['Year', 'Club1', 'Club2', 'Goals1', 'Goals2'], axis=1)
X_test = X_test.drop(['Year', 'Club1', 'Club2'], axis=1)

In [30]:
X_test

  Week Att1 Mid1 Def1 Att2 Mid2 Def2     Diff1     Diff2
0   17   82   79   79   78   77   75  0.250000 -0.066667
1   17   78   80   78   80   79   81 -0.687500  0.500000
2   17   78   77   78   76   76   74 -0.266667 -0.562500
3   17   86   86   85   78   75   76  0.733333  0.000000
4   17   79   78   80   71   70   68  0.066667 -0.285714
5   17   76   74   75   81   82   82 -0.250000  1.571429
6   17   76   77   74   76   76   76 -0.250000 -0.266667
7   17   81   81   77   76   76   74  0.937500 -0.666667
8   17   69   71   72   87   84   84 -0.687500  0.928571
9   17   80   77   78   73   72   71 -0.125000 -0.562500

# RANDOM FOREST REGRESSOR

In [31]:
from sklearn.ensemble import RandomForestRegressor

In [32]:
rfr = RandomForestRegressor(n_estimators=500, max_depth=5)

In [17]:
rfr.fit(dataset, y1)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=5, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=500, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [18]:
preds1 = rfr.predict(X_test)

In [19]:
rfr.fit(dataset, y2)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=5, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=500, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [18]:
preds2 = rfr.predict(X_test)

In [19]:
for i in range(len(preds2)):
    print(y1[i+9], ':', y2[i+9], ' == ', preds1[i], ':', preds2[i])

1.0 : 2.0  ==  1.4765887386612275 : 1.0471158768468494
1.0 : 1.0  ==  3.4864873401479524 : 0.6595092209333399
0.0 : 6.0  ==  1.5269740335054431 : 1.253932630749782
0.0 : 1.0  ==  0.8458689823234594 : 1.1797226058519563
1.0 : 2.0  ==  0.7698015429976715 : 1.9435400981832975
1.0 : 0.0  ==  1.8205661440551009 : 1.0667850989282712
1.0 : 3.0  ==  1.0049739873958627 : 1.306191196318478
3.0 : 1.0  ==  1.4742345474788452 : 0.8996899055545297
3.0 : 3.0  ==  1.4680710702333317 : 1.0736200897225456

# XG BOOST

In [20]:
from xgboost import XGBRegressor

In [30]:
xgb = XGBRegressor(n_estimators=1000, learning_rate=0.05)

In [31]:
xgb.fit(dataset, y1)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.05, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=1000, n_jobs=0, num_parallel_tree=1,
             objective='reg:squarederror', random_state=0, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method='exact',
             validate_parameters=1, verbosity=None)

In [32]:
preds1 = xgb.predict(X_test)

In [33]:
xgb.fit(dataset, y2)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.05, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=1000, n_jobs=0, num_parallel_tree=1,
             objective='reg:squarederror', random_state=0, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method='exact',
             validate_parameters=1, verbosity=None)

In [34]:
preds2 = xgb.predict(X_test)

In [35]:
for i in range(len(preds2)):
    print(y1[i+9], ':', y2[i+9], ' == ', preds1[i], ':', preds2[i])

1.0 : 2.0  ==  1.1918643 : 1.1550798
1.0 : 1.0  ==  2.8538308 : 1.3849516
0.0 : 6.0  ==  2.3413599 : 1.3596907
0.0 : 1.0  ==  0.9041816 : 0.424708
1.0 : 2.0  ==  0.56339085 : 1.0811498
1.0 : 0.0  ==  2.834927 : 0.37583467
1.0 : 3.0  ==  1.0973668 : 0.443182
3.0 : 1.0  ==  1.497929 : 0.61434644
3.0 : 3.0  ==  1.7732658 : 2.4367695

# ONE HOT ENCODING

In [36]:
from sklearn.preprocessing import OneHotEncoder

In [37]:
OH_encoder = OneHotEncoder(handle_unknown='ignore', sparse=False)

In [39]:
X_test_copy

,Year,Week,Club1,Club2,Att1,Mid1,Def1,Att2,Mid2,Def2,Diff1,Diff2,Goals1,Goals2
0,2020,8,SD Eibar,Cádiz CF,76,77,74,73,72,71,-0.142857,0.000000,0,2
1,2020,8,Real Madrid,SD Huesca,86,86,85,69,71,72,0.833333,-0.714286,4,1
2,2020,8,Athletic Bilbao,Sevilla FC,79,78,80,80,79,81,-0.333333,0.200000,2,1
3,2020,8,CA Osasuna,Atlético Madrid,76,76,74,81,82,82,0.333333,1.800000,1,3
4,2020,8,CD Alavés,FC Barcelona,76,74,75,87,84,84,-0.428571,0.800000,1,1
5,2020,8,Real Betis,Elche CF,78,80,78,71,70,68,-0.571429,0.200000,3,1
6,2020,8,Celta Vigo,Real Sociedad,78,75,76,81,81,77,-0.857143,1.571429,1,4
7,2020,8,Granada CF,Levante UD,76,76,76,78,77,75,0.000000,-0.833333,1,1
8,2020,8,Valencia CF,Getafe CF,80,77,78,78,77,78,-0.285714,0.166667,2,2

In [48]:
X_oh = pd.DataFrame(OH_encoder.fit_transform(X_copy[['Club1', 'Club2']]))
X_test_oh = pd.DataFrame(OH_encoder.transform(X_test_copy[['Club1','Club2']]))

In [49]:
X_oh.index = X_copy.index
X_test_oh.index = X_test_copy.index

In [50]:
num_X = X_copy.drop(['Year', 'Club1', 'Club2', 'Goals1', 'Goals2'], axis=1)
num_X_test = X_test_copy.drop(['Year', 'Club1', 'Club2', 'Goals1', 'Goals2'], axis=1)

In [52]:
X1 = pd.concat([num_X, X_oh], axis=1)
X1_test = pd.concat([num_X_test, X_test_oh], axis=1)

In [53]:
X1

,Week,Att1,Mid1,Def1,Att2,Mid2,Def2,Diff1,Diff2,0,...,48,49,50,51,52,53,54,55,56,57
0,2,78,76,74,76,73,72,0.000000,1.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,78,76,76,63,67,70,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,2,88,85,81,74,73,74,1.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2,75,74,73,75,73,75,1.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2,86,83,81,73,71,68,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1895,7,76,76,73,76,75,76,-0.666667,-0.833333,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1896,7,70,72,71,80,79,78,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1897,7,80,77,78,76,75,75,0.400000,-0.200000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1898,7,81,80,77,73,72,72,1.333333,-0.333333,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1899,7,77,77,76,80,77,76,-1.000000,-1.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# RANDOM FOREST REGRESSOR

In [33]:
rfr = RandomForestRegressor(n_estimators=500, max_depth=5)

In [34]:
rfr.fit(X1, y1)

NameError: name 'X1' is not defined

In [56]:
preds1 = rfr.predict(X1_test)

In [57]:
rfr.fit(X1, y2)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=5, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=500, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [58]:
preds2 = rfr.predict(X1_test)

In [59]:
for i in range(len(preds2)):
    print(y1[i+9], ':', y2[i+9], ' == ', preds1[i], ':', preds2[i])

1.0 : 2.0  ==  1.4736261870412743 : 1.0344535449277963
1.0 : 1.0  ==  4.0436137872277005 : 0.71085966477552
0.0 : 6.0  ==  1.5081837094499604 : 1.1889694515324254
0.0 : 1.0  ==  0.7083655446841816 : 1.370200438457321
1.0 : 2.0  ==  0.8540074215544403 : 2.0422925415909816
1.0 : 0.0  ==  1.75014117308993 : 1.082431934394814
1.0 : 3.0  ==  1.0940604553800668 : 1.3114258363475166
3.0 : 1.0  ==  1.466046503135015 : 0.9052609122460458
3.0 : 3.0  ==  1.4762641411754398 : 1.0713575003048925

In [60]:
dataset

      Week  Att1  Mid1  Def1  Att2  Mid2  Def2     Diff1     Diff2
0        2    78    76    74    76    73    72  0.000000  1.000000
1        2    78    76    76    63    67    70  0.000000  0.000000
2        2    88    85    81    74    73    74  1.000000  0.000000
3        2    75    74    73    75    73    75  1.000000  0.000000
4        2    86    83    81    73    71    68  0.000000  0.000000
...    ...   ...   ...   ...   ...   ...   ...       ...       ...
1895     7    76    76    73    76    75    76 -0.666667 -0.833333
1896     7    70    72    71    80    79    78  0.000000  0.000000
1897     7    80    77    78    76    75    75  0.400000 -0.200000
1898     7    81    80    77    73    72    72  1.333333 -0.333333
1899     7    77    77    76    80    77    76 -1.000000 -1.000000

[1900 rows x 9 columns]

In [61]:
X_test

   Week  Att1  Mid1  Def1  Att2  Mid2  Def2     Diff1     Diff2
0     8    76    77    74    73    72    71 -0.142857  0.000000
1     8    86    86    85    69    71    72  0.833333 -0.714286
2     8    79    78    80    80    79    81 -0.333333  0.200000
3     8    76    76    74    81    82    82  0.333333  1.800000
4     8    76    74    75    87    84    84 -0.428571  0.800000
5     8    78    80    78    71    70    68 -0.571429  0.200000
6     8    78    75    76    81    81    77 -0.857143  1.571429
7     8    76    76    76    78    77    75  0.000000 -0.833333
8     8    80    77    78    78    77    78 -0.285714  0.166667

In [73]:
X2 = dataset.drop(['Week', 'Diff1', 'Diff2'], axis=1)
X2_test = X_test.drop(['Week', 'Diff1', 'Diff2'], axis=1)

In [74]:
rfr.fit(X2, y1)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=5, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=500, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [75]:
preds1 = rfr.predict(X2_test)

In [76]:
rfr.fit(X2, y2)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=5, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=500, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [77]:
preds2 = rfr.predict(X2_test)

In [78]:
for i in range(len(preds2)):
    print(y1[i+9], ':', y2[i+9], ' == ', preds1[i], ':', preds2[i])

1.0 : 2.0  ==  1.4673884878192731 : 1.0811833620459153
1.0 : 1.0  ==  3.8074352095033155 : 0.8873368152020145
0.0 : 6.0  ==  1.5498285329783634 : 1.006498702976375
0.0 : 1.0  ==  0.7552114511862063 : 1.4377379927965572
1.0 : 2.0  ==  0.8085641802134519 : 2.2264174622646475
1.0 : 0.0  ==  2.043169854349115 : 0.9491747260362701
1.0 : 3.0  ==  1.0679582054956867 : 1.0947063811059985
3.0 : 1.0  ==  1.3194221914906303 : 1.0743552408841193
3.0 : 3.0  ==  1.4702989454589408 : 0.940233211827527

In [37]:
dataset.columns

Index(['Week', 'Att1', 'Mid1', 'Def1', 'Att2', 'Mid2', 'Def2', 'Diff1',
       'Diff2'],
      dtype='object')

# FINAL

In [80]:
new_columns = ['Week', 'Att1', 'Mid1', 'Def1', 'Att2', 'Mid2', 'Def2', 'Diff1', 'Diff2']

In [104]:
club1 = 'Valencia CF'
club2 = 'Real Madrid'

new1 = [9, 80, 77, 78, 86, 86, 85, (-2)/8, 8/7]
newDF = pd.DataFrame([new1], columns=new_columns)

In [105]:
X_f_test = X_f_test.append(newDF, ignore_index=True)
X_f_test

   Week  Att1  Mid1  Def1  Att2  Mid2  Def2     Diff1     Diff2
0     9    71    70    68    78    75    76 -0.166667 -1.125000
1     9    69    71    72    76    77    74 -1.000000 -0.375000
2     9    87    84    84    78    80    78  0.666667 -0.250000
3     9    80    79    81    76    76    74  0.000000  0.000000
4     9    81    82    82    73    72    71  1.833333  0.250000
5     9    78    77    78    82    79    79  0.142857  0.000000
6     9    81    81    77    76    76    76  1.750000  0.000000
7     9    78    77    75    76    74    75 -0.714286 -0.375000
8     9    76    76    74    79    78    80 -0.857143 -0.142857
9     9    80    77    78    86    86    85 -0.250000  1.142857

In [35]:
rfr.fit(dataset, y1)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=5, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=500, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [36]:
preds1 = rfr.predict(X_test)

In [37]:
rfr.fit(dataset, y2)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=5, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=500, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [38]:
preds2 = rfr.predict(X_test)

In [39]:
for i in range(len(preds2)):
    print(preds1[i], ' : ', preds2[i])

1.5751388353645295  :  0.8238945827364391
1.4624463151737832  :  1.2553455917226197
1.632489169881098  :  1.0235781908073323
2.525769692126232  :  0.7043260076642471
1.8630197322843969  :  0.8712176363386767
0.7765722059106721  :  1.4201384751153219
1.4155995210984293  :  1.0349426657169631
1.6721437568038175  :  0.674813772888621
0.6648750274103559  :  2.359663217210039
1.746629501725575  :  0.9329405429653032

In [40]:
X

,Year,Week,Club1,Club2,Att1,Mid1,Def1,Att2,Mid2,Def2,Diff1,Diff2
0,2020,17,Villarreal CF,Levante UD,82,79,79,78,77,75,0.250000,-0.066667
1,2020,17,Real Betis,Sevilla FC,78,80,78,80,79,81,-0.687500,0.500000
2,2020,17,Getafe CF,Real Valladolid,78,77,78,76,76,74,-0.266667,-0.562500
3,2020,17,Real Madrid,Celta Vigo,86,86,85,78,75,76,0.733333,0.000000
4,2020,17,Athletic Bilbao,Elche CF,79,78,80,71,70,68,0.066667,-0.285714
5,2020,17,CD Alavés,Atlético Madrid,76,74,75,81,82,82,-0.250000,1.571429
6,2020,17,SD Eibar,Granada CF,76,77,74,76,76,76,-0.250000,-0.266667
7,2020,17,Real Sociedad,CA Osasuna,81,81,77,76,76,74,0.937500,-0.666667
8,2020,17,SD Huesca,FC Barcelona,69,71,72,87,84,84,-0.687500,0.928571
9,2020,17,Valencia CF,Cádiz CF,80,77,78,73,72,71,-0.125000,-0.562500